* {
  box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    color: crimson;
    font-family: 'Helvetica';
    font-size: 42px;
    background-color: #fff;

}

.header {
    padding: 0px 0px;
    height: 90px;
    text-align: center;
    color: #fff;
    font-family: 'Helvetica';
    border-bottom: 4px solid #fff;
    overflow: hidden;
}

fa-code {
    color: crimson;
}

/* topnav bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* topnav links */
.topnav a {
    float: left;
    display: block;
    width: 25%;
    /*color: #f2f2f2;*/
    font-family: 'Helvetica';
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #fff;
    color: crimson;
}

.header h1{
    font-size: 6vh;
    font-family: 'Helvetica';
}

.main h1{
    font-size: 4vw;
}

main fa-code {
    color: crimson;
}

.content {
    min-height: calc(100vh - 211px);
    padding: 0px 4px;
}

/* gallery settings */
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.gallery::after {
    content: "";
    width: 350px;
}

.footer {
    height: 60px;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-top: 4px solid #fff;
    overflow: hidden;
}
